<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".app.MyAPP"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config_file"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AiVastra"
        tools:targetApi="31">
        <activity
            android:name=".activity.camera.CameraSettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.camera.UniversalCameraActivity"
            android:exported="false" />
        <activity
            android:name=".activity.camera.Camera2CaptureActivity"
            android:exported="false" />
        <activity
            android:name=".activity.vastra.VastraTryOnProcessFullscreenActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.camera.CameraPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.camera.CameraCaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.vastra.VastratryOnNewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.profile.PofileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.vastra.ScanAndDownloadVastraResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.vastra.VastraTryOnResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.camera.UploadPhotoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.launch.SplashScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.camera.ProductQrScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.vastra.VastraSubCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.vastra.VastraTryOnActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.vastra.SelectVastraCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.camera.CapturePhotoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Home.HomeDressesForActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.launch.AppOpenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AiVastra">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UCrop.Custom" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".customview.MyDeviceAdminReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>